{% extends 'layout.html.twig' %}
{% block content %}
<div class="row">
    {% if item is defined %}

        <div class="col-md-12" data-id="{{ item.id }}">
            <p>
                <a href="{{ item.url }}" target="_blank">
                    <strong>{{ item.title }}</strong>
                </a>

                {% if item.urlDisplay is defined %}
                <span class="small">(<a href="/from/{{ item.urlDisplay }}" target="_blank">{{ item.urlDisplay }}</a>)</span>
                {% endif %}
            </p>
            <p class="small">
                {{ item.score }} points
                by <a href="/user/{{ item.by }}">{{ item.by }}</a>
                {% if item.timeElapsed is defined %}
                    {{ item.timeElapsed }} ago
                {% endif %}
                | <a href="#" class="hide_item">hide</a>
                | <a href="#">past</a>

                | <a href="/from/{{ item.title }}/google" target="_blank">web</a>

                {% if item.descendants is defined %}
                | {{ item.descendants }} comments
                {% endif %}

                {% if item.comments is defined %}


            {% macro recursiveComments(itemx) %}
                {% import _self as self %}

                <li>
                    {% if itemx.deleted is not defined %}
                        {% if itemx.type == "comment" %}
                            <a href="/item/{{ itemx.by }}">
                                <strong>{{ itemx.by }}</strong>
                            </a> |
                            {% if itemx.timeElapsed is defined %}
                                {{ itemx.timeElapsed }} ago
                            {% endif %}

                            {% if itemx.text is defined %}
                                <p>{{ itemx.text | raw }}</p>
                            {% endif %}
                        {% endif %}
                        {% if itemx.comments is defined %}
                            {% if itemx.comments|length %}
                                <ul>
                                    {% for child in itemx.comments %}
                                        {{ self.recursiveComments(child) }}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endif %}
                    {% endif %}

                </li>
            {% endmacro %}

            {% from _self import recursiveComments %}

            <div id="comments" class="col">
                <ul>
                        {{ recursiveComments(item) }}
                </ul>
            </div>

                {% endif %}
            </p>

        </div>

    {% endif %}
</div>
{% endblock %}
