{% extends 'layout.html.twig' %}
{% block content %}
<div class="row">
    {% if item is defined %}

        <div class="col-md-12" data-id="{{ item.id }}">
            <p>
                <a href="{{ item.url }}" target="_blank" class="title">
                    <strong>{{ item.title }}</strong>
                </a>

                {% if item.urlDisplay is defined %}
                <span class="small">(<a href="/from/{{ item.urlDisplay }}" target="_blank">{{ item.urlDisplay }}</a>)</span>
                {% endif %}
            </p>

            <p class="small">
                {{ item.score }} points
                by <a href="/user/{{ item.by }}">{{ item.by }}</a>
                {% if item.timeElapsed is defined %}
                    {{ item.timeElapsed }} ago
                {% endif %}
                | <a href="#" class="hide_item">hide</a>
                | <a href="#">past</a>

                | <a href="/from/{{ item.title }}/google" target="_blank">web</a>

                {% if item.descendants is defined %}
                | {{ item.descendants }} comments
                {% endif %}
            </p>

            {% if item.text is defined %}
                <p>
                    {{ item.text | raw }}
                </p>
            {% endif %}


            <form>
                <div class="form-group">
                    <label for="addComment">Add comment</label>
                    <textarea class="form-control" id="addComment" rows="3"></textarea>

                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-secondary">Add comment</button>
                </div>
            </form>


            {% if item.comments is defined %}


            {% macro recursiveComments(itemx) %}
                {% import _self as self %}
                {% if itemx.type == "comment" %}
                    <li>
                        {% if itemx.deleted is not defined %}

                            <a href="/item/{{ itemx.by }}">
                                <strong>{{ itemx.by }}</strong>
                            </a> |
                            {% if itemx.timeElapsed is defined %}
                                {{ itemx.timeElapsed }} ago
                            {% endif %}

                            {% if itemx.text is defined %}
                                <p>{{ itemx.text | raw }}</p>
                            {% endif %}
                        {% endif %}
                        {% if itemx.comments is defined %}
                            {% if itemx.comments|length %}
                                <ul>
                                    {% for child in itemx.comments %}
                                        {{ self.recursiveComments(child) }}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endif %}


                    </li>
                    {% else %}
                        {% if itemx.comments is defined %}
                            {% if itemx.comments|length %}
                                    {% for child in itemx.comments %}
                                        {{ self.recursiveComments(child) }}
                                    {% endfor %}
                            {% endif %}
                    {% endif %}
                {% endif %}


            {% endmacro %}

            {% from _self import recursiveComments %}

            <div id="comments" >
                <ul>
                        {{ recursiveComments(item) }}
                </ul>
            </div>

                {% endif %}


        </div>

    {% endif %}
</div>
{% endblock %}
